p {
    font-family: 'Tektur', sans-serif;
    font-size: 1.2rem;
}

.inner p {
    font-size: 0.8rem;
}

h1 {
    font-family: 'Tektur', sans-serif;
    font-size: 2.8rem;
    padding-bottom: 10px;
}

h2{
    font-family: 'Tektur', sans-serif;
    font-size: 1.25rem;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
}

header{
    height: 33px;
    /* background-color: #e3cf5e; */
    background-color: rgb(255, 225, 92);
}

header .inner {
    position: relative;
    display: absolute;
    float:right;
    margin-right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

/* 입력 창 (검색) */
.search{
    position: relative;
    display:inline-block;
}

.search .input{
    border-radius: 10px;
    border-color: #26262600;
    background-color: #58585863;
    padding-right: 22px; 
    /* 글자색 */
    /* color: #6b6b6b7e;  */
    color: #fafafad5; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

/* 클릭 시 테두리 */
.search .input:focus{
    outline: none;
}

.search button{
    border-radius: 10px;
    width: 35px;
    border-color: transparent;
    background-color: #5c4f3d;
    margin-left: -25px; 
}

.search .button:focus{
    outline: none;
}

/* 링크 드롭다운 메뉴바 */
.dropdown{
    position:relative;
    display:inline-block;
    margin-left: 10px;
}

.dropdown button{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    /* 조상인 dropdown 기준으로 배치 (position: absolute) */
    position: absolute;
    color: white;
    border-radius: 8px;
}

.dropdown-content ul{
    margin-left: -10px;
}

.dropdown-content ul li{
    text-align: center;
    margin-bottom: 3px;
}

.dropdown-content ul li a{ 
    color: #ffffff;
    text-decoration-line: none;
}

/* 블로그 환영 문구 */
.blog{
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.blog .small-text a{
    color: #e3cf5e;
}


.cursor{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#dynamic{
    position: static;
    /*block tag에서 속성 변화*/
    display: inline-block;
    font-size: 2rem;
}


/* 가상 요소 (class)인 after 생성 */
#dynamic::after{
    content:"";
    display: blockback;
    position: absolute;
    background-color: white;
    height: 2rem;
    right: -10;
    top: var(--after-top, 0px);
    padding-top: 0px; 
    width: 4px;
}

#dynamic.active:after{
    display: none;
}

/* TODO; UP 버튼 */

/* 간단인사(.hello), 관심사(.interests) fade-in */

.hello{
    position:absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation-fill-mode: forwards;
}

.interests{
    position:absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation-fill-mode: forwards;
}

.hello h1{
    animation: fadein 3s;
}


/*I'm interested in*/
.interests h1{
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

/*I'm 1006lem,*/
.hello h2:nth-child(2) {
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/*Undergraduate Student*/
.hello h2:nth-child(3) {
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

/*Infrastructure*/
.interests h2:nth-child(2) {
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}

/*cloud*/
.interests h2:nth-child(3) {
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

/*...*/
.interests h3 {
    opacity: 0;
    animation: fadein 3s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}


/*fade in 효과*/
@keyframes fadein { 
    from {
        opacity: 0;
    }
    to { overflow: hidden;
        opacity: 1;
    }
}

/* 기술 스택 영역 */
.stacks{
    position:absolute;
    top: 100%;

    /* viewport width와 100% 동일하게 */
    width: 100vw;
    color: white;
    text-align: center;
    overflow: hidden;
}

.stacks h1{
    position: center;
    margin-bottom: 80px;
}


.rails{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.origin_and_clone{
    
    /*나란히 배치*/ 
    /* display: inline-block; */
    display: flex;
    justify-content: flex-start;
    
    flex-basis: 100%;
    width: 200vw;
    /* width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: row */
} 

.rail{
    display: flex;
    align-items: center;
    width: 100vw;
    /* 중앙 정렬 (수평) */
    /* justify-content: center; */
    padding: 10px;
    background-color: #ffffff1b;
    margin-bottom: 30px;
}

.rail img{
    padding-right: 20px;
}

/* 첫 번째 레일 */
#rail1 img{
    padding-left: 60px;
}
#railClone1 img{
    padding-left: 60px;
}


/* 세 번째 레일 */
#rail3 img{
    padding-left: 30px;
}
#railClone3 img{
    padding-left: 30px;
}


/* 기술 스택 무한 롤링 */

/* 1번째 레일 애니메이션 */
#rail1 {
	animation: rollingleft1 10s linear infinite;
} 
#railClone1 {
	animation: rollingleft2 10s linear infinite;
} 

/* 2번째 레일 애니메이션 */
#rail2 {
	animation: rollingright1 10s linear infinite;
} 
#railClone2 {
	animation: rollingright2 10s linear infinite;
} 

/* 3번째 레일 애니메이션 */
#rail3 {
	animation: rollingleft1 13s linear infinite;
} 
#railClone3 {
	animation: rollingleft2 13s linear infinite;
} 

/* 왼쪽 이동 애니메이션 */
@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
} 

/* 오른쪽 이동 애니메이션 */
@keyframes rollingright1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(100%); }
    50.01% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes rollingright2 {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.Kubernetes{
    position:absolute;
    left: 50%;
    top: 220%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.Docker{
    position:absolute;
    left: 50%;
    top: 320%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.info p{
    /* 기본으로 불투명도 0 (보이지 않게) */
    opacity: 0;
    padding-top: 10px;
}

.info p{
    padding-bottom: 10px;
}

.Android-Studio{
    position:absolute;
    left: 50%;
    top: 400%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


/* 로고 이미지 앞뒤로 padding */
.logo{
    padding-top: 10px;
}

.links{
    position:absolute;
    left: 50%;
    top: 480%;
    /* padding-bottom: 10px; */
    transform: translate(-50%, -50%);
    color: #e3cf5e(255, 255, 255, 0.476);
    text-align: center;
}

.links div a p{
    color: rgba(255, 255, 255, 0.881);
}

.close{
    position:absolute;
    left: 50%;
    top: 490%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.891);
    text-align: center;
}


.link-content{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.link-content a {
    display: flex;
    text-decoration-line: none;
    text-align: center;
    flex-direction: column;
    margin-right: 30px;
}


.close p{
    font-size: 3rem;
}

footer{
    position:absolute;
    left: 50%;
    top: 510%;
    padding-bottom: 50px;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.476);
    text-align: center;
}

@media screen and (max-height: 800px) {
    .blog{
        width: 80%;
    }

    .stacks {
        padding-top: 80px;
    }
    .Kubernetes{
        padding-top: 200px;
    }
    .stacks h1{
        font-size: 2rem;
    }

    .hello h1{
        font-size: 2rem;
    }

    .close{
        padding-top: 50px;
    }

    .hello{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .interests{
        padding-top: 100px;
    }

    .interests h1{
        font-size: 2rem;
    }
}